{% extends "city3d/layout.html" %}
{% load static %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav" style="padding-right: 5%">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-outline-light rounded-pill" style="padding-right: 1em; padding-left: 1em;" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select City
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for city in cities %}
              <li><a class="dropdown-item" href="{% url 'hero' city.name %}">{{ city.name }}, {{ city.state.initials }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="bg-image"></div>

{% endblock %}

{% block script %}
{% endblock %}
