{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}City3D{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="{% static 'city3d/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
      <nav class="navbar sticky-top">
        <div class="d-flex justify-content-start" style="padding-left: 2em; padding-right: 2em">
          <a class="navbar-brand" href="#" style="margin: 0;">City3D</a>
          <ul class="nav-item dropdown" style="padding-left: 0em;">
            {% if city %}
            <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ city.name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {% for list_city in cities %}
                {% if list_city.state.initials == 'TX' %}
                  <li><a class="dropdown-item" href="{% url 'hero' list_city.name %}">{{ list_city.name }}, {{ list_city.state.initials }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
            {% else %}
            <a class="nav-link dropdown-toggle btn" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select
            </a>
            {% endif %}
          </ul>
        </div>
      </nav>
      {% block body %}
      {% endblock %}
    </body>

</html>
